
body {
    background-color: rgba(3, 54, 79, 0.936);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    background-color: rgba(12, 49, 62, 0.589);
    padding: 2ram;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center ;
    border-radius: 10px;
   
}
.myprofile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #0000003e;
   
    }           
.hello {
    color: rgba(116, 116, 127, 0.884);
    font-weight: bold;
    size: 20px;
}   
.menu {
    display: flex;
    justify-content: space-around;
    background-color: rgba(44, 127, 158, 0.589);
    padding: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center ;
    border-radius: 10px;
    margin-top: 2em;
    text-align: center;
   

}
.name {
    color: white;
    font-size: 25px;
    font-weight: bold;
}   